body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e1e1e;   
    font-family: Arial;
}
h1{
    color: white;          
}
#loginform {
    width: 300px;
    padding: 20px;
    margin-top: 30px;
    background: #ffffff;
    border-radius: 15px;   
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background: orange;   
    color: white;         
    border: none;
}
