body{
    background-color: black;
}
.container {
    background-color:azure;
    height: 500px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.header {
    background-color:rgb(252, 10, 10); 
    height: 100%;
    width: 250px;
    border-radius: 11px;
}

.picture {
    background-color: rgb(177, 162, 162);
    height: 150px;
    width: 150px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    
}